.app {
    background-color: #454545;
    min-height: 200px;
    height: min-content;
    border-radius: 26.5px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  flex-direction: column;
  align-items: center;
}

/* QUESTION/TIMER/LEFT SECTION */
.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-text {
  margin-bottom: 12px;
  font-size: 18px;
}

/* ANSWERS/RIGHT SECTION */
.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  border-radius: 26.5px;
  display: flex;
  padding: 5px 0px 5px 10px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #9999e1;
  cursor: pointer;
}

.correct {
  background-color: #2f922f;
}

.incorrect {
  background-color: #ff3333;
}

button:hover {
  background-color: #555e7d;
}

button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

form {
  display: contents;
}

.avatar {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.avatar button {
    border: none;
    background-color: transparent;
    width: auto;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 50%;
    padding-top: 30px;
}
.avatar button:hover {
    border: none;
    background-color: transparent;
}
    
.avatar img {
    margin-top: 15px;
    cursor: pointer;
    width: 100px;
}

.avatar img:hover{
    opacity: 0.5;
}

.bubble {
  color: #454545;
  font-size: 15px;
  background: #999ee1;
  border-radius: 26.5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90px;
  width: 45%;
  
 
}

.bubble.active:after,
.bubble.active:before {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: #999ee1;
  position: absolute;
  bottom: -7px;
}

.bubble.active:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #999ee1;
  position: absolute;
  bottom: -21px;
}




/** animação imagem **/

.pulse {
  height: 50px;
  animation: pulse 0.7s infinite;
  margin: 0 auto;
  display: table;
  margin-right: 15px;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    
  }
  100% {
    -webkit-transform: scale(1.1);
   
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
   
  }
  100% {
    transform: scale(1.1);
   
  }
}

.fadein {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.fade {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

/** small device */
  @media(max-width: 800px) {
  .app {
    width: 300px;
    margin: 0 auto;
    flex-direction: column;
  }
  button {
    margin-bottom: 12px;
    font-size: 12px;
  }
  .avatar img {
    width: 85px;
  }
  .question-text {
    margin-bottom: 12px;
    font-size: 15px;
  }
  .score-section {
    display: flex;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

  /** small device */
  @media(max-width: 400) {
  .app {
    width: 220px;
    margin: 0 auto;
    flex-direction: column;
  }

}