.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #252d4a;
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
}

ul, li, span {
    color: #252d4a;
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
    list-style-type: none;
    width: 70%;
    display: inline-table;
}

li {
    font-weight: 600;
}

.text {
    color: #252d4a;
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
    width: 70%;
}

