.avatar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    align-items: center;
}
.avatar button {
    border: none;
    background-color: transparent;
    width: auto;
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.avatar button:hover {
    border: none;
    background-color: transparent;
}
    
.avatar img {
  /*   width: 50px;
    height: 50px; */
    margin-top: 15px;
    cursor: pointer;
    width: 100px;
}

.avatar img:hover{
    opacity: 0.5;
}

.sex {
   color: #454545;
}

/* .avatar, .inative{
    opacity: 0.5;
}
    
     */
